* { 
    font-family: Verdana, monospace, Tahoma, sans-serif;         
} 

body{            
   background-image: url('https://solarsystem.nasa.gov/internal_resources/6044/marshero.jpg');     
   background-repeat: no-repeat;
   background-position:  right end;       
         
  }    

.headers{                       
  color: rgb(250, 160, 64);             
  text-align: center ;         
}  

.content{            
       color: rgb(190, 4, 4);           
       background-color: rgb(234, 160, 75);           
       border: 3px  black  groove ;            
       border-radius: 15px 50px;            
       padding: 10px;             
       margin: 10px;            
      text-align: center;            
       font-size: large;         
          }    

.lists{            
    font: bold;             
color: rgb(157, 80, 63);        
    }   

 .links{            
   color: rgb(247, 187, 228);            
    font: italic; 
    text-align: right;   
    font-size: large;    
           } 

 .images{       
    text-align: left;       
      }

      .home{
  color: crimson;
  font: italic;
}